// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
// The variables you want to modify
$lighten-deepPurple: #363636;
$deepPurple: #111111;
$darken-deepPurple: #000000;
$light-blue: #dbf1ff !default;
$blue: #07254b !default;
$blue-tr: #07254b66 !default;
$darken-blue: #051d3d !default;
$darken-blue-tr: #051d3d63 !default;
$amber: #d1a837;
$dark: #222;